.grid-item {
  background-color: black;
  flex-grow: 0;
  flex-shrink: 1;
}

.chosen-color {
  background-color: white;
}

.rainbow-color {
  background-color: red;
}

.outline {
  outline: 1px solid rgb(0, 199, 0);
}