* {
  box-sizing: border-box;
}

h1 {
  text-shadow: 0 0 6px #fff;
}

h2 {
  text-align: center;
  margin-top: -2rem;
  margin-bottom: -1rem;
  padding: 0 1rem;
}

p, label, span {
  font-size: 1.3rem;
}

input[type="range"] {
  accent-color: rgb(33, 225, 221);
}

button {
  background-color: transparent;
  color: rgb(155, 155, 155);
  font-family: 'Indie Flower', cursive;
  letter-spacing: .08rem;
  padding: .5rem 1.25rem;
  border-radius: 1000px;
  border: none;
  box-shadow: 0 0 5px #FFF, 0 0 5px #FFF inset;
  transition: all ease-in .2s;
}

button:hover {
  background-color: #0b659d;
  color: rgb(231, 231, 231);
  cursor: pointer;
}

.active-btn {
  color: white;
  background-color: #0385d6;
  box-shadow: 0px 0px 12px rgb(255, 175, 175);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  border: 2px solid yellow;
}

.grid-container {
  margin: 0 auto;
  padding: 1rem;
  box-shadow: 0px 0px 15px white;
  border-radius: 15px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-flow: row wrap;
}

.main-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-modes {
  display: flex;
  justify-content: center;
  gap: 1rem;
  border: 2px solid red;
}

/* media querys */

@media (min-width:800px) {
  .main-app-flex {
    display: flex;
  }
}