* {
  box-sizing: border-box;
}

h1 {
  text-shadow: 0 0 6px #fff;
  text-align: center;
}

.sub-title {
  text-align: center;
  margin-top: -1rem;
  padding: 0 1rem;
}

p, label, span {
  font-size: 1.3rem;
}

input[type="range"] {
  accent-color: rgb(33, 225, 221);
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 100px;
  border: none;
  cursor: crosshair;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 100px;
}

input[type="color"]::-moz-color-swatch {
  border-radius: 100px;
}

#color-btn {
  position: relative;
}

#color-btn #color-btn-input {
  visibility: hidden;
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
}

#color-btn #color-btn-input::after {
  content: "";
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

button {
  background-color: transparent;
  color: rgb(155, 155, 155);
  font-family: 'Indie Flower', cursive;
  letter-spacing: .08rem;
  padding: .5rem 1.25rem;
  border-radius: 1000px;
  border: none;
  box-shadow: 0 0 5px #FFF, 0 0 5px #FFF inset;
  transition: all ease-in .2s;
}

button:hover {
  background-color: #0b659d;
  color: rgb(231, 231, 231);
  cursor: pointer;
}

.active-btn {
  color: white;
  background-color: #0385d6;
  box-shadow: 0px 0px 12px rgb(255, 175, 175);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.grid-container {
  position: relative;
  margin: 0 auto;
  padding: 1rem;
  box-shadow: 0px 0px 15px white;
  border-radius: 15px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-flow: row wrap;
}

.grid-container::before {
  content: "Click to start/stop";
  position: absolute;
  background-color: black;
  padding: 0 .5rem;
  border-radius: 100px;
  left: 50%;
  transform: translateX(-50%);
  top:-12px;
  opacity: 0;
}

.grid-container:hover::before {
  animation: fadeIn 1s;
  opacity: 1;
}

.main-app-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.toggles {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.show {
  visibility: visible !important; 
  animation: fadeIn 1s;
}

.button-modes {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.alt-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* media querys */

@media (min-width:600px) {
  .grid-container {
    width: 500px;
    height: 500px;
  }
}

@media (min-width:950px) {
  .main-app-flex {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  .grid-container {
    margin: 0;
    width: 600px;
    height: 600px;
  }

  .button-modes {
    flex-direction: column;
  }

  .toggles {
    justify-content: space-around;
  }

}