body {
  background-color: black;
  margin: 0;
}

.grid-container {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  display: flex;
  flex-flow: row wrap;
}

.grid-item {
  background-color: red;
  flex: 6.25%;
  outline: 1px solid rgb(0, 199, 0);
}